@import "@/styles/commons.scss";

.top-header {
  background-color: #1a1a1a;
  color: #fff;
  padding: 16px 32px;
  font-size: 14px;
  color: #978e8e;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @include mq(max_md) {
    display: none;
  }

  .top-header__content {
    display: flex;
    align-items: center;
    gap: 48px;

    @include mq(max_md) {
      gap: 32px;
      flex-wrap: wrap;
    }

    .top-header__item {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}
